<article id="node-{{ node.id }}" class="{{ attributes.class}} clearfix"{{ attributes }} role="article">

  <header>
    {{ title_prefix }}
    {% if not page %}
      <h2{{ title_attributes }}>
        <a href="{{ node_url }}">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
  </header>

  <div class="content clearfix"{{ content_attributes }}>
    {# We hide the comments and links now so that we can render them later. #}
    {% hide(content.comments) %}
    {% hide(content.links) %}
    {{ content }}
  </div>

  {% if content.links %}
    <footer class="link-wrapper">
      {{ content.links }}
    </footer>
  {% endif %}

  {{ content.comments }}

</article>
