<div id="bethel_wrapper">
{% if edit_access %}
  <form action="https://cloud.bethel.io.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
    <input type="hidden" name="key" value="{{ uid }}/{{ nid }}/${filename}" />
    <input type="hidden" name="AWSAccessKeyId" value="AKIAIJTWZVKSK76KBTHQ" /> 
    <input type="hidden" name="acl" value="public-read" /> 
    <input type="hidden" name="success_action_redirect" value="http://my.bethel.io/node/{{ nid }}" />
    <input type="hidden" name="policy" value="{{ s3.policy }}" />
    <input type="hidden" name="signature" value="{{ s3.signature }}" />
    <input type="hidden" name="Content-Type" value="audio/mp3" />
    <h3>Add a new Podcast item:</h3>
    <input name="file" type="file" class="pull-left" /> <input type="submit" value="Upload" class="btn btn-primary btn-sm" />
  </form>
{% endif %}
{% for item in podcast %}
  <div class="media">
    {% if edit_access %}
      <a href="/podcaster/{{ nid }}/{{ item.uuid }}/delete" class="btn btn-danger btn-sm pull-right">Delete</a><a href="/podcaster/{{ nid }}/{{ item.uuid }}/edit" class="btn btn-default btn-sm pull-right">Edit</a>
    {% endif %}
    <div class="media-body">
      <h4 class="media-heading"><a href="{{ item.url }}">{{ item.title }}</a> <span class="badge">{{ item.duration }}</span></h4>
      <p class="text-muted">
      {% if item.description %}
        {{ item.description }}
      {% elseif edit_access %}
        Podcaster recommends adding a short description for each item in your podcast.  This message is not shown to your visitors.
      {% endif %}
      </p>
    </div>
  </div>
{% endfor %}
</div>