<div id="bethel_wrapper">
{% for item in podcast %}
  <div class="media">
    {% if edit_access %}
      <a href="/podcaster/{{ nid }}/{{ item.uuid }}/delete" class="btn btn-danger btn-sm pull-right">Delete</a><a href="/podcaster/{{ nid }}/{{ item.uuid }}/edit" class="btn btn-default btn-sm pull-right">Edit</a>
    {% endif %}
    <div class="media-body">
      <h4 class="media-heading"><a href="{{ item.url }}">{{ item.title }}</a> <span class="badge">{{ item.duration }}</span></h4>
      <p class="text-muted">
      {% if item.description %}
        {{ item.description }}
      {% elseif edit_access %}
        Podcaster recommends adding a short description for each item in your podcast.  To do this, edit the video on Vimeo and add a description.  This message is not shown to your visitors.
      {% endif %}
      </p>
    </div>
  </div>
{% endfor %}
</div>