<script type="text/x-handlebars" data-template-name="application">
{% verbatim %}
  {{outlet}}
{% endverbatim %}
</script>

<script type="text/x-handlebars" id="index">
{% verbatim %}
  <a class="add-btn btn btn-primary pull-right">Add Location</a>
  <div class="row">
  {{#each item in model}}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{unbound item.loc.[1]}},{{unbound item.loc.[0]}}&zoom=17&size=300x200&maptype=roadmap
&markers=color:0x1591b5%7C{{unbound item.loc.[1]}},{{unbound item.loc.[0]}}&sensor=false" alt="{{unbound item.address}}">
        <div class="caption">
          <h3>{{item.title}}</h3>
          <p>{{item.address}}</p>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
{% endverbatim %}
</script>
