<script type="text/x-handlebars" data-template-name="application">
{% verbatim %}
  {{outlet}}
{% endverbatim %}
</script>

<script type="text/x-handlebars" id="index">
{% verbatim %}
  <a {{action addPodcast}} class="add-btn btn btn-primary pull-right">Add Location</a>
  <div class="row">
  {{#each item in model}}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center={{unbound item.loc.[1]}},{{unbound item.loc.[0]}}&zoom=17&size=300x200&maptype=roadmap
&markers=color:0x1591b5%7C{{unbound item.loc.[1]}},{{unbound item.loc.[0]}}&sensor=false&key=AIzaSyCasoNnO-7ZHrH_NBcCU_BBed6duq8NvJg" alt="{{unbound item.address}}">
        <div class="caption">
          <h3>{{item.title}}</h3>
          <p>{{item.address}}</p>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
{% endverbatim %}
</script>

<script type="text/x-handlebars" data-template-name="modal">
{% verbatim %}
  <form class="form-horizontal" role="form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{view.title}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" placeholder="Location Name" />
            </div>
          </div>
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="address" placeholder="Address" />
              <p class="help-block">{{view.latitude}}<input type="hidden" id="latitude" {{bind-attr value=view.latitude}} />, {{view.longitude}}<input type="hidden" id="longitude" {{bind-attr value=view.longitude}} /></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" {{action close target="view"}} class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">{{view.saveButton}}</button>
        </div>
      </div>
    </div>
  </form>
{% endverbatim %}
</script>
